extends layout

block content

    div(class='bs-callout bs-callout-info')
        h4 Hqz2agenda
        p
            | Application permettant de convertir un planning Horoquartz en fichier CSV compatible avec Google Agenda.
            | Déposez votre fichier <strong>xlsx</strong> dans la zone ci-dessous :

        p Choisir le type d'agenda :

        form(action='/' method='get' class='form-inline' role='form')
            .form-group
                select(class='form-control' onchange="if(this.value) window.location.href=this.value")
                    option(value='?type=google') Google Agenda (.csv)
                    option(value='?type=outlook') Outlook (.ics)

    div(id='dropzone')
        form(action='/upload' class='dropzone dz-clickable' id='file-dropzone')

    .planning-example
        hr

        h4 Exemple de planning :
        img(src='/img/planning-example.png')

    hr
